.build/

*.xcodeproj
.DS_Store

# because claude (and it's skills) is/are actually the best pair programmer(s)
.impeccable/
.claude/
.superpowers/

.vscode

# No spoilers ٩(^‿^)۶ (i really don't care if these get leaked though...)
plan.md
docs

# macOS / Swift
.DS_Store
.swiftpm/
DerivedData/
*.app

# scratch / local data
*.log
